.banner {
  margin-top: 0;
  padding: 20px 0 100px 0;
  background-image: url("../../assets/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  line-height: 1.2;
  width: 100%;
  max-width: 1300px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  /* width: 100%;
  max-width: 400px; 
  height: auto;  */
  animation: updown 3s linear infinite;
}

.align-items-center {
  display: flex;
  align-items: center;
  margin: 8rem;
}
.image-col img {
  display: block;
  margin: 1 auto;
}
.text-col {
  text-align: left;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
  display: inline-block;
  border-right: 0.08em solid #666;
  min-height: 78px;
}

.Start-btn:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .banner h1 {
    font-size: 48px; /* Kích thước nhỏ hơn khi màn hình dưới 1024px */
  }
  .banner p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 32px; /* Kích thước nhỏ hơn nữa khi màn hình dưới 768px */
  }
  .banner p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .banner h1 {
    font-size: 12px; /* Kích thước nhỏ nhất khi màn hình rất nhỏ (mobile) */
  }
  .banner p {
    font-size: 10px;
  }
}
